body{
    margin: 0;
    padding: 0;
}
.row{
    width: 100%;
}
.deals-coupons{
    background-color: lightgray;
}
.search{
    border-right-style: none;
}

.mega{
    width: 800px;
}

.categories{
    padding: 15px;
    display: flex;
}

.slider-image-1{
    background-image: url('images/slider-image-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-banner-1{
    background-image: url('images/grocery-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.bg-banner-2{
    background-image: url('images/grocery-banner-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.card-product{
    width: 250px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bg-banner{
    background-image: url('images/banner-deal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 470px;
    margin-left: 20px;
    padding-top: 30px;
}
.banner-col{
    margin-left: 0px;
    width: 25%;
}

.feature-heading{
    font-size: 17px;
}
.feature-text{
    font-size: 14px;
}

.footer{
    background-color: lightgrey;
    margin-top: 50px;
}
.col-3{
    width: 15%;
}