.slider-image-1{
    background-image: url('images/slider-image-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ad-banner-1{
    background-image: url('images/ad-banner-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ad-banner-2{
    background-image: url('images/ad-banner-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    background-color: lightgrey;
    margin-top: 50px;
    font-size: 0.8rem;
    
}